[user]
	email = azv@efio.dk
	name = Andreas Vikke
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIIga+4ccYxARCCnv9TR9k/SpDIFZJeMMvEQq4CQk/aM
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[credential]
	helper = store
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
	pager = less -FRSX
[color]
    branch = auto
    diff = auto
    status = auto
[alias]
	a = add -A
    s = status -s
	co = checkout
    cob = checkout -b
	cm = commit -m
	rbi = rebase --interactive
	f = fetch
	pu = push
	puf = push --force-with-lease
	main-branch = "!git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4"
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	pub = "!git push -u origin $(git branch-name)"
	subpull = submodule update --init --checkout --recursive
	wipr = for-each-ref --sort='committerdate:iso8601' --format=' %(color:yellow)%(committerdate:relative)%09%(color:white)%(refname:short)' refs/remotes/origin
    wip = for-each-ref --sort='committerdate:iso8601' --format=' %(color:yellow)%(committerdate:relative)%09%(color:white)%(refname:short)' refs/heads/
	ls = "!bash -c 'git log --since \"$0\" --until \"$1\" '"
	lsf = "!bash -c 'git log --since \"$0\" --until \"$1\" --pretty=format:\"%C(Yellow)%h%Creset %C(Green)%ad%Creset %<(15,trunc)%C(Red)%an%Creset %s\" '"
[filter "tabspace"]
	clean = expand --tabs=4 --initial
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
